* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(9, 9, 9);
  overflow: hidden;
}

.cat {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 40px 0px;
}

h1 {
  text-align: center;
  margin: 20px auto;
  font-weight: 800;
  color: white;
}

/* @keyframes moving {
  0% {
    color: red;
  }

  20% {
    color: green;
  }

  40% {
    color: blue;
  }

  60% {
    color: violet;
  }

  80% {
    color: yellowgreen;
  }
  100% {
    transform: translateX(100%);
    color: yellow;
  }
} */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.news-card {
  height: inherit;
  width: 500px;
  border: 2px solid white;
  border-radius: 10px;
  transition: ease-in-out 1s;
  display: none;
}

.news-card img {
  height: 55%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

@media (max-width: 540px) {
  .news-card {
    width: inherit;
    height: inherit;
    margin: 10px 10px;
  }
}

@media (max-width: 800px) {
  .cat {
    flex-wrap: wrap;
    padding: 10px 0px;
    gap: 1rem;
  }
}

.news-title {
  color: red;
  margin-left: 15px;
  margin-top: 10px;
  max-width: 80%;
}

.news-details {
  color: white;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.cat button {
  padding: 5px 15px;
  text-transform: uppercase;
  border-radius: 7px;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
  color: black;
  box-shadow: 5px 8px 2px 2px red;
  transition: ease-in-out 1s;
  cursor: pointer;
  font-weight: 600;
}

.cat button:hover {
  box-shadow: 5px -8px 2px 2px green;
  transform: scale(1.1);
  opacity: 1;
}

.btn {
  padding: 5px 15px;
  margin-left: 45%;
  margin-top: 30px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  border-radius: 7px;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  box-shadow: 5px 8px 2px 2px red;
  transition: ease-in-out 1s;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 5px -8px 2px 2px green;
  transform: scale(1.1);
  opacity: 1;
}
